@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
button{
  height: 3rem;
  width: 6rem;
}

.animate-spin{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  background-color: transparent;
  color: green;
  border: 2px solid red;
  border-radius: 1rem;
}
nav{
  background-color: black;
  color: bisque;
  display: flex;
}
.container{
  display: flex;
  gap: 4rem;
}
.right{
  float: right;
}